.footer{
  background-color: $color_gray_11;
  box-sizing: border-box;
  padding: 60px 30px 30px 120px;
  display: flex;
  justify-content: space-between;
  color: $color_gray_5;
  font-family: "Roboto Lt";
  font-size: 14px;
  line-height: 16px;

  @media (max-width: $mw_1920){
    padding-left: 60px;
  }

  @media (max-width: $mw_1600){
    font-size: 12px;
    line-height: 14px;
    padding-top: 30px;
  }

  @media (max-width: $mw_1280){
    flex-wrap: wrap;
    flex-direction: column-reverse;
    position: relative;
    >div{
      width: 100%;
    }
  }

  @media (max-width: $mw_768){
    padding: 15px;
  }
  .footer_contacts{
    width: 250px;
    >div{
      margin-bottom: 13px;
      >span{
        color: $color_gray_5;
        font-family: "Roboto Md";
      }
    }
  }

  .footer_menu{
    text-align: center;
    padding-top: 10px;
    >div:first-child{
      >a{
        margin: 0 20px;
        font-family: "Roboto Md";
        font-size: 16px;
        color: $color_gray_5;

        @media (max-width: $mw_1600){
          font-size: 14px;
          line-height: 16px;
        }
        &:hover{
          text-decoration: underline;
        }
      }
    }
    >div:last-child{
      margin-top: 20px;
      span{
        font-family: "Roboto Md";
      }
    }

    @media (max-width: $mw_1280){
      position: absolute;
      top: 0;
      right: 0;
      width: 30%;
      height: 100%;
      padding: 30px 30px 0 0;
      >div:first-child{
        display: flex;
        flex-direction: column;
        >a{
          text-align: right;
          margin-bottom: 20px;
          margin-right: 0;
        }
      }
      >div:last-child{
        text-align: right;
        font-size: 14px;
      }
    }

    @media (max-width: $mw_768) {
      order: 1;
      position: relative;
      width: 100%;
      padding: 0;
      >div {
        text-align: left !important;
        margin-top: 0 !important;
        a{
          text-align: left !important;
          margin: 0 0 15px 0 !important;
        }
      }
      margin-bottom: 20px;
    }
  }
  .footer_info{
    width: 250px;
    @media (max-width: $mw_1280){
      margin-bottom: 15px;
    }
  }
}