
header{
  width: 100%;
  height: 66px;
  background-color: $color_white;
  box-shadow: 0px 5px 10px rgba(0, 14, 28, 0.05);
  z-index: 99;
  position: relative;
  .centre_container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    @media (max-width: $mw_1280){
      padding: 0 30px;
    }
    @media (max-width: $mw_768){
      padding: 0 15px;
      width: 320px;
    }
  }
  .mobile_menu{
    display: none;
    width: 200px;
    >div{
      display: flex;
      height: 100%;
      width: 22px;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      cursor: pointer;
      >span{
        display: inline-block;
        background-color: $color_blue_1;
        width: 22px;
        height: 2px;
        margin-bottom: 5px;
        opacity: 1;
        transition: all 0.2s ease-out;
        &:last-child{
          margin-bottom: 0;
        }
      }
    }

    &.action{
      >div>span{
        transform: rotateZ(135deg);
        position: absolute;
        &:first-child{
          transform: rotateZ(45deg);
        }
        &:last-child{
          opacity: 0;
        }
      }
    }
    @media (max-width: $mw_1280){
      display: inline-block;
    }

  }
  .logo{
    display: flex;
    align-items: center;
    //justify-content: center;
    box-sizing: border-box;
    padding-left: 30px;
    width: 215px;
    height: 100%;
    a{
      display: inline-block;
    }
    @media (max-width: $mw_1280){
      padding: 0;
      align-self: center;
      width: auto;

    }
  }
  .search{
    width: calc(100% - 215px - 352px);
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-left: 30px;
    .search_input{
      box-sizing: border-box;
      margin-right: 0px;
      overflow: hidden;
      width: 0px;
      transition: all 0.3s ease-out;
      &.show{
        width: 500px;
        margin-right: 30px;
      }
      input{
        font-size: 16px;
        outline: none;
        border: none;
        width: 100%;
      }
    }
    .search_icon{
      cursor: pointer;
    }

    @media (max-width: $mw_1280){
      display: none;
    }
  }
  .currency{
    height: 100%;
    width: 352px;
    margin-right: 30px;
    color: $color_gray_4;
    font-family: Roboto;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    div{
      display: inline-block;
      &.green{
        color: $color_green;
      }
      &.red{
        color:$color_red;
      }
    }

    @media (max-width: $mw_1280){
      margin: 0;
      width: 200px;
      >div:first-child{
        display: none;
      }
    }
    @media (max-width: $mw_768) {
      display: none;
    }
  }
}