.hot_news{
  margin-right: 50px;
  width: 1165px;
  float: left;
  @media (max-width: $mw_1920) {
    width: 960px;
    margin-right: 30px;
  }

  @media (max-width: $mw_1600){
    width: 630px;
  }

  @media (max-width: $mw_1280){
    width: 426px;
  }
  @media (max-width: $mw_768){
    width: 100% !important;
    margin-bottom: 30px;
  }
  .hot_news_list{

    &::after{
      display: block;
      content: '';
      float: none;
      clear: both;
    }
    .hot_news_item{
      display: inline-block;
      float: left;
      width: 355px;
      margin-bottom: 30px;
      @media (max-width: $mw_1920){
        width: 300px;
      }
      @media (max-width: $mw_1280) {
        width: 198px;
      }
      @media (max-width: $mw_768){
        width: 100% !important;
        margin: 0 0 30px 0 !important;
      }

      .hot_item_images{
        width: 100%;
        height: 210px;
        display: inline-block;
        background-size: cover;
        background-position: 50%;
        position: relative;
        margin-bottom: 10px;

        @media (max-width: $mw_1920){
          height: 180px;
        }

        @media (max-width: $mw_1280) {
          height: 136px;
        }

        @media (max-width: $mw_768){
          height: 200px !important;
        }
        p{
          display: flex;
          height: 100%;
          width: 100%;
          box-sizing: border-box;
          padding: 30px;
          position: absolute;
          top: 0;
          left: 0;
          transition: opacity 0.3s ease-out;
          color: $color_white;
          @media (max-width: $mw_1280) {
            padding: 15px;
          }
        }
        .hot_item_sub_info{
          opacity: 0;
          z-index: 1;
          background-color: $color_blue_2;
          flex-direction: column;
          justify-content: space-between;
          .preview{
            font-family: "Roboto Lt";
            font-size: 14px;
            line-height: 17px;
            height: 100px;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          .sublink{
            font-family: Roboto;
            font-size: 16px;
            &::after{
              content: '';
              display: inline-block;
              width: 6px;
              height: 6px;
              margin-left: 7px;
              border: 2px solid $color_white;
              border-bottom: none;
              border-left: none;
              transform: rotateZ(45deg);
            }
          }

          @media (max-width: $mw_1280) {
            display: none;
          }
        }

        .hot_item_sub_region{
          opacity: 1;
          z-index: 0;
          align-items:flex-end;
          span{
            font-family: Roboto;
            font-size: 14px;
          }
        }
      }
      &:hover{
        .hot_item_sub_info{
          opacity: 1;
        }
        .hot_item_sub_region{
          opacity: 0;
        }
      }
      .hot_item_title{
        display: inline-block;
        font-size: 16px;
        line-height: 18px;
        color: $color_black;
        font-family: Roboto;
        margin-bottom: 10px;
      }
      .hot_item_other_info{
        display: flex;
        justify-content: space-between;
        @media (max-width: $mw_1280) {
          flex-direction: column-reverse;
        }
        &>div{
          font-size: 14px;
          font-family: Roboto;
        }
        .hot_item_date{
          color: $color_gray_4;
          width: 160px;
        }
        .hot_item_section{
          color: $color_blue_5;
          text-align: end;
          max-width: 140px;
          @media (max-width: $mw_1280) {
            text-align: start;
            max-width: 100%;
            margin-bottom: 10px;
          }
          a{
            color: $color_blue_5;
            transition: color 0.2s ease-out;
            &:hover{
              color:$color_blue_4;
            }
          }
        }
      }
      &:nth-child(5),
      &:nth-child(6){
        margin-left:50px;
        @media (max-width: $mw_1920){
          margin-left: 30px;
        }
      }
      &:nth-child(4){
        clear: left;
      }
      &:first-child{
        width: 760px;
        margin-right: 50px;

        @media (max-width: $mw_1920){
          width: 630px;
          margin-right: 30px;
        }

        @media (max-width: $mw_1280) {
            width: 100%;
        }
        .hot_item_images{
          height: 525px;
          @media (max-width: $mw_1920){
            height: 435px;
          }
          @media (max-width: $mw_1280) {
            height: 300px;
          }
        }
        .hot_item_title{
          font-family: "Roboto Md";
          font-size: 24px;
          line-height: 26px;
          margin-bottom: 15px;

          @media (max-width: $mw_1280) {
            font-size: 20px;
            line-height: 22px;
          }
        }
        .hot_item_section {
          max-width: 300px;
        }
      }
      @media (max-width: $mw_1600){
        margin: 0 0 30px 30px;
        float: left;

        &:nth-child(2),
        &:nth-child(4){
          clear: left;
          margin-left: 0;
        }
        &:first-child{
          margin: 0 0 30px 0;
        }
        &:last-child{
          display: none;
        }
      }
    }
  }
}