.last_news{
  display: flex;
  flex-direction: column;
  background-color: $color_blue_7;
  overflow: hidden;
  border-radius: 25px;

  @media (max-width: $mw_768){
    width: 100%;
  }
  .last_news_title{
    background-color: $color_blue_8;
    color: $color_gray_3;
    font-size: 20px;
    line-height: 22px;
    font-family: "Roboto Md";
    padding: 30px;
  }

  .last_news_list{

    .last_news_item{
      background-color: rgba(255,255,255,0);
      transition: all 0.2s ease-out;
      padding: 30px;
      position: relative;
      display: block;
      &:hover{
        background-color: $color_blue_2;
        .last_news_item_title,
        .last_news_item_date{
          color: $color_white;
        }
        a{
          opacity: 1;
          height: 14px;
        }
        &::after{
          opacity: 0;
        }
      }
      .last_news_item_title{
        color: $color_gray_8;
        font-family: Roboto;
        font-size: 16px;
        line-height: 18px;
      }
      .last_news_item_date{
        color: $color_gray_6;
        font-family: Roboto;
        font-size: 14px;
        text-align: right;
        float: right;
        padding-top: 2px;
      }
      &::after{
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background-color: $color_blue_8;
        position: absolute;
        bottom: 0;
      }
      &:last-child{
        &::after{
          display: none;
        }
      }

      @media (max-width: $mw_1280){
        a,
        .last_news_item_title{
          font-size: 14px;
          line-height: 16px;
        }
        .last_news_item_date{
          font-size: 12px;
          line-height: 16px;
        }
      }
    }
  }
}