.left_sidebar{
  background-color: $color_white;
  display: inline-block;
  width: 215px;
  box-shadow: 0px 5px 10px rgba(1, 54, 107, 0.05);
  transition: all 0.3s ease-out;
  z-index: 99;
  height: initial;
  flex-shrink: 0;
  flex-grow: 0;
  @media (max-width: $mw_1280){
    position: absolute;
    left: -320px;
    height: calc(100% - 66px);
    width: 320px;
  }

  @media (max-width: $mw_768){
    width: 100%;
    left: -100%;
  }
  &.show{
    left: 0;
  }
  &>div{
    @media (max-width: $mw_1280){
      padding-bottom: 60px;
    }
  }
  &>div>*{
    box-sizing: border-box;
    padding: 0 30px;
    margin-top: 20px;
  }
  .location{
    color:$color_gray_1;
    font-size: 14px;
    font-family: Roboto;
    position: relative;
    .area{
      display: flex;
      align-items: center;
      cursor: pointer;
      .locate_icon, span{
        margin-right: 5px;
      }
      .arrow_ico{
        margin-top: 4px;
      }
    }
    .drop_list{
      height: 0px;
      position: absolute;
      background: $color_white;
      z-index: 99;
      transition: all 0.2s ease-out;
      &.drop{
        height: 150px;
      }
      &>div>a{
        display: block;
        width: 100%;
        box-sizing: border-box;
        padding: 10px 0 10px 15px;
        color: $color_gray_1;
        &:last-child{
        }
        &:hover,
        &.action{
          color: $color_gray_2;
        }
      }
    }
  }
  .profile{
    margin-top: 25px;
    a{
      display: flex;
      align-items: center;
    }
    .profile_image{
      display: inline-block;
      height: 25px;
      width: 25px;
      border-radius: 15px;
    }
    .profile_name{
      font-family: "Roboto Md";
      font-size: 14px;
      color: $color_gray_2;
      margin-left: 10px;
    }
  }
  .menu{
    margin-top: 40px;
    padding: 0 30px 0 0;
    .menu_item{
      height: 40px;
      font-size: 16px;
      display: block;
      font-family: "Roboto Lt";
      line-height: 40px;
      padding-left: 30px;
      position: relative;
      color: $color_blue_2;
      transition: color 0.2s ease-out;

      &::before{
        content: '';
        display: inline-block;
        background-color: $color_blue_6;
        height: 40px;
        width: 0px;
        vertical-align: middle;
        position: absolute;
        top:0;
        left:0;
        transition: width 0.2s ease-out;
      }

      &.action,
      &:hover{
        color: $color_blue_1;
        &::before{
          width: 4px;
        }
      }
      &.action{
        font-family: "Roboto Md";
      }
    }
  }
  .search{
    width: 100%;
    display: flex;
    align-items: center;
    height: 30px;
    .search_icon{
      width: 30px;
    }
    .search_input{
      width: 230px;
      box-sizing: border-box;
      padding-left: 10px;
      input{
        width: 100%;
        border: none;
        color: $color_blue_2;
      }
    }
  }
  .social{
    margin-top: 30px;
    .social_title{
      color: $color_gray_3;
      font-size: 14px;
      font-family: "Roboto Lt";
      margin-bottom: 10px;
    }
    .social_list{

      a{
        margin-right: 5px;
        margin-bottom: 5px;
        display: inline-block;
        transform: scale(1);
        transition: all 0.2s ease-out;
        &:hover{
          transform: scale(1.2);
        }
      }
    }
  }
}
.bg_for_menu{
  position: absolute;
  width: 0;
  top: 0;
  right: 0;
  background-color: rgba(0,0,0,0.5);
  height: 100%;
  z-index: 98;
  opacity: 0;
  transition: opacity 0.3s ease-out;
  &.show{
    width: 100%;
    opacity: 1;
  }
}