.personal{
  margin-top: 50px;
  clear: left;

  .personal_box{
    position: relative;
    height: 350px;
    overflow: hidden;

    @media (max-width: $mw_1600) {
      height: 300px;
    }
    @media (max-width: $mw_1280) {
      height: 200px;
    }
    @media (max-width: $mw_768) {
      height: 180px;
      position: relative;
      overflow: scroll;
    }

    .personal_background{
      display: block;
      position: absolute;
      z-index: 0;
      height: 100%;
      text-align: center;
      width:100%;

      >div{
        display: block;
        color: $color_gray_7;
        font-size: 190px;
        font-family: "Roboto Bk";
        letter-spacing:10pt;
        text-align: center;

        @media (max-width: $mw_1920){
          font-size: 180px;
        }
        @media (max-width: $mw_1600){
          font-size: 130px;
        }

        @media (max-width: $mw_1280) {
          font-size: 100px;
        }
        @media (max-width: $mw_768) {
          font-size: 43px;
        }
      }
    }
    .personal_list{
      position: absolute;
      z-index: 1;
      height: 100%;
      display: flex;
      justify-content: space-around;
      width: 100%;
      align-items: flex-end;
      @media (max-width: $mw_768) {
        width: 700px;
        position: relative;
      }
      .personal_item{
        display: block;
        position: relative;
        width: 365px;
        height: 308px;
        overflow: hidden;
        @media (max-width: $mw_1600){
          width: 273px;
          height: 241px;
        }
        @media (max-width: $mw_1280) {
          width: 212px;
          height: 190px;
        }
        @media (max-width: $mw_1280) {
          width: 212px;
          height: 190px;
        }

        .personal_item_subscribe,
        .personal_item_background{
          display: block;
          position: absolute;
          bottom: -1px;
          width: 100%;
          height: 183px;
          box-sizing: border-box;
          transition: all 0.2s ease-out;
          @media (max-width: $mw_1600){
            height: 163px;
          }
          @media (max-width: $mw_1280) {
            height: 129px;
          }
        }
        .personal_item_background{
          z-index: 0;
          background-color: $color_gray_10;
        }
        .personal_item_person{
          display: block;
          position: absolute;
          z-index: 1;
          width: 100%;
          height: 100%;
          text-align: right;
          img{
            position: relative;
            right: -20px;
            bottom: -20px;
            height: 100%;
          }
        }
        .personal_item_subscribe{
          display: block;
          z-index: 2;
          background: linear-gradient(202.96deg, rgba(255, 255, 255, 0) 26.73%, rgba(255, 255, 255, 0.75) 85.98%);
          padding: 50px 30px 0 30px;

          @media (max-width: $mw_1600){
            padding: 40px 15px 0 15px;
          }

          @media (max-width: $mw_1280) {
             padding-top: 20px;
          }

          .personal_item_name{
            display: block;
            font-family: "Roboto Md";
            color: $color_black;
            font-size: 26px;
            line-height: 28px;
            word-spacing: 180px;
            padding-bottom: 10px;

            @media (max-width: $mw_1600){
              font-size: 24px;
              line-height: 26px;
            }
            @media (max-width: $mw_1280) {
              font-size: 18px;
              line-height: 20px;
            }
          }
          .personal_item_position{
            display: block;
            font-size: 16px;
            line-height: 18px;
            color: $color_black;
            font-family: Roboto;

            @media (max-width: $mw_1600){
              font-size: 14px;
              line-height: 16px;
            }
            @media (max-width: $mw_1280) {
              font-size: 12px;
              line-height: 14px;
            }
          }
          .personal_item_link {
            display:block;
            color: $color_blue_1;
            font-family: "Roboto Md";
            font-size: 16px;
            padding-top: 10px;
            overflow: hidden;
            height: 0px;
            box-sizing: border-box;
            transition: all 0.2s ease-out;
            &::after{
              content: '';
              display: inline-block;
              width: 6px;
              height: 6px;
              margin-left: 7px;
              border: 2px solid $color_blue_1;
              border-bottom: none;
              border-left: none;
              transform: rotateZ(45deg);
            }
          }
        }

        &:hover{
          .personal_item_subscribe,
          .personal_item_background{
            height: 219px;

            @media (max-width: $mw_1600){
              height: 199px;
            }
            @media (max-width: $mw_1280) {
              height: 149px;
            }
          }
          .personal_item_subscribe{
            .personal_item_link{
              height: 36px;
            }
          }
        }
      }
    }
  }
}