.video_section{
  margin-top: 50px;
  .video_box{
    display: flex;
    justify-content: space-around;

    @media (max-width: $mw_768){
      flex-direction: column;
    }
    .video_item{
      display: block;
      width: 690px;
      height: 460px;
      background-position: 50%;
      background-size: cover;
      overflow: hidden;
      border-radius: 10px;
      position: relative;
      cursor: pointer;

      @media (max-width: $mw_1920){
        width: 630px;
        height: 420px;
      }
      @media (max-width: $mw_1600){
        width: 463px;
        height: 310px;
      }

      @media (max-width: $mw_1280){
        width: 335px;
        height: 225px;
      }

      @media (max-width: $mw_768){
        width: 100%;
        height: 195px;
        margin-bottom: 20px;
      }
      .video_play_button{
        transition: all 0.2s ease-out;
        position: absolute;
        right: 30px;
        top: 30px;
      }
      .video_item_bg{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0);
        transition: all 0.2s ease-out;
      }
      &:hover{
        .video_item_bg{
          background-color: rgba(0,0,0,0.5);
        }

        .video_play_button{
          width: 80px;
          height: 80px;
          top: calc(50% - 40px);
          right: calc(50% - 40px);
        }
      }
      .video_info{
        position: absolute;
        bottom: 0;
        width: 100%;
        background: linear-gradient(180deg, rgba(0, 14, 28, 0) 0.9%, rgba(0, 14, 28, 0.68) 84.25%);
        box-sizing: border-box;
        padding: 50px 30px;
        line-height: 26px;

        .video_subscribe{
          font-family: "Roboto Md";
          font-size: 24px;
          color: $color_white;
          @media (max-width: $mw_1600){
            font-size: 20px;
            line-height: 22px;
          }
        }
        .video_date{
          text-align: right;
          font-family: Roboto;
          font-size: 16px;
          color: $color_white;
          float: right;
        }

        @media (max-width: $mw_1600){
          padding: 30px 15px;
          line-height: normal;
        }
        @media (max-width: $mw_1280){
          padding: 15px;
          .video_subscribe,
          .video_date {
            font-size: 14px;
            line-height: 16px;
          }
        }
      }
    }
  }
}