@import "fonts/stylesheet.css";
$color_blue_1: rgba(1, 54, 107, 1);
$color_blue_2: rgba(1, 54, 107, 0.75);
$color_blue_3: rgba(28, 126, 225, 1);
$color_blue_4: rgba(76, 165, 225, 1);
$color_blue_5: rgba(175, 207, 239, 1);
$color_blue_6: rgba(52,154,255,1);
$color_blue_7: rgba(242,248,255,1);
$color_blue_8: rgba(227,240,253,1);

$color_gray_1: rgba(53,59,66,0.20);
$color_gray_2: rgba(53,59,66,0.50);
$color_gray_3: rgba(0, 14, 28, 0.35);
$color_gray_4: rgba(196,196,196,1);
$color_gray_5: rgba(178,192,206,1);
$color_gray_6: rgba(206,217,228,1);
$color_gray_7: rgba(232,232,232,0.35);
$color_gray_8: rgba(0, 14, 28, 0.5);
$color_gray_9: rgba(232,232,232,1);
$color_gray_10: rgba(236,236,236,1);
$color_gray_11: rgba(245,245,245,1);

$color_black: rgba(0,14,28,1);
$color_white: rgba(255,255,255,1);
$color_green: rgba(81,171,67,1);
$color_red: rgba(236,88,88,1);

$mw_1920: 1919px;
$mw_1600: 1599px;
$mw_1280: 1279px;
$mw_768: 767px;
@import "reset";

body{
}
body.hidden{
  overflow: hidden;
}

.centre_container{
  max-width: 1920px;
  margin: 0 auto;
}
.clear{
  float: none !important;
  clear: both !important;
  display: block !important;
}
@import "header";

// Описание основной части с сайдбаром
main{
  .centre_container{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    @media (max-width: $mw_1280) {
      justify-content: center;
    }
  }
}

@import "left_sidebar";

.main_content{
  max-width: 1705px;
  box-sizing: border-box;
  padding: 60px 30px 60px 120px;
  @media (max-width: $mw_1920){
    padding-left: 60px;
  }

  @media (max-width: $mw_1600){
  }

  @media (max-width: $mw_1280){
    padding: 60px 30px;
    max-width: 800px;
  }

  @media (max-width: $mw_768){
    padding: 15px;
    max-width: 320px;
    flex-direction: column;
  }
}
.section_title{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 30px;
  span{
    font-family: "Roboto Bk";
    font-size: 36px;
    color: $color_black;
    @media (max-width: $mw_1280) {
      font-size: 30px;
    }
    @media (max-width: $mw_768){
      font-size: 24px;
      line-height: 26px;
    }
  }
  a{
    font-family: Roboto;
    font-size: 16px;
    color: $color_blue_3;
    text-decoration: underline;
    &:hover{
      text-decoration: none;
    }
  }
}
//Блок горячих новостей
@import "hot_news";
//Блок последних новостей
@import "last_news";
@import "personal";
@import "video";

@import "footer";
