@import url(fonts/stylesheet.css);
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none; }

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none; }

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0; }

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */ }

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */ }

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

html,
button,
input,
select,
textarea {
  color: #222; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

img {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

a {
  text-decoration: none; }

body.hidden {
  overflow: hidden; }

.centre_container {
  max-width: 1920px;
  margin: 0 auto; }

.clear {
  float: none !important;
  clear: both !important;
  display: block !important; }

header {
  width: 100%;
  height: 66px;
  background-color: white;
  box-shadow: 0px 5px 10px rgba(0, 14, 28, 0.05);
  z-index: 99;
  position: relative; }
  header .centre_container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box; }
    @media (max-width: 1279px) {
      header .centre_container {
        padding: 0 30px; } }
    @media (max-width: 767px) {
      header .centre_container {
        padding: 0 15px;
        width: 320px; } }
  header .mobile_menu {
    display: none;
    width: 200px; }
    header .mobile_menu > div {
      display: flex;
      height: 100%;
      width: 22px;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      cursor: pointer; }
      header .mobile_menu > div > span {
        display: inline-block;
        background-color: #01366b;
        width: 22px;
        height: 2px;
        margin-bottom: 5px;
        opacity: 1;
        transition: all 0.2s ease-out; }
        header .mobile_menu > div > span:last-child {
          margin-bottom: 0; }
    header .mobile_menu.action > div > span {
      transform: rotateZ(135deg);
      position: absolute; }
      header .mobile_menu.action > div > span:first-child {
        transform: rotateZ(45deg); }
      header .mobile_menu.action > div > span:last-child {
        opacity: 0; }
    @media (max-width: 1279px) {
      header .mobile_menu {
        display: inline-block; } }
  header .logo {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-left: 30px;
    width: 215px;
    height: 100%; }
    header .logo a {
      display: inline-block; }
    @media (max-width: 1279px) {
      header .logo {
        padding: 0;
        align-self: center;
        width: auto; } }
  header .search {
    width: calc(100% - 215px - 352px);
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-left: 30px; }
    header .search .search_input {
      box-sizing: border-box;
      margin-right: 0px;
      overflow: hidden;
      width: 0px;
      transition: all 0.3s ease-out; }
      header .search .search_input.show {
        width: 500px;
        margin-right: 30px; }
      header .search .search_input input {
        font-size: 16px;
        outline: none;
        border: none;
        width: 100%; }
    header .search .search_icon {
      cursor: pointer; }
    @media (max-width: 1279px) {
      header .search {
        display: none; } }
  header .currency {
    height: 100%;
    width: 352px;
    margin-right: 30px;
    color: #c4c4c4;
    font-family: Roboto;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    header .currency div {
      display: inline-block; }
      header .currency div.green {
        color: #51ab43; }
      header .currency div.red {
        color: #ec5858; }
    @media (max-width: 1279px) {
      header .currency {
        margin: 0;
        width: 200px; }
        header .currency > div:first-child {
          display: none; } }
    @media (max-width: 767px) {
      header .currency {
        display: none; } }

main .centre_container {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box; }
  @media (max-width: 1279px) {
    main .centre_container {
      justify-content: center; } }

.left_sidebar {
  background-color: white;
  display: inline-block;
  width: 215px;
  box-shadow: 0px 5px 10px rgba(1, 54, 107, 0.05);
  transition: all 0.3s ease-out;
  z-index: 99;
  height: initial;
  flex-shrink: 0;
  flex-grow: 0; }
  @media (max-width: 1279px) {
    .left_sidebar {
      position: absolute;
      left: -320px;
      height: calc(100% - 66px);
      width: 320px; } }
  @media (max-width: 767px) {
    .left_sidebar {
      width: 100%;
      left: -100%; } }
  .left_sidebar.show {
    left: 0; }
  @media (max-width: 1279px) {
    .left_sidebar > div {
      padding-bottom: 60px; } }
  .left_sidebar > div > * {
    box-sizing: border-box;
    padding: 0 30px;
    margin-top: 20px; }
  .left_sidebar .location {
    color: rgba(53, 59, 66, 0.2);
    font-size: 14px;
    font-family: Roboto;
    position: relative; }
    .left_sidebar .location .area {
      display: flex;
      align-items: center;
      cursor: pointer; }
      .left_sidebar .location .area .locate_icon, .left_sidebar .location .area span {
        margin-right: 5px; }
      .left_sidebar .location .area .arrow_ico {
        margin-top: 4px; }
    .left_sidebar .location .drop_list {
      height: 0px;
      position: absolute;
      background: white;
      z-index: 99;
      transition: all 0.2s ease-out; }
      .left_sidebar .location .drop_list.drop {
        height: 150px; }
      .left_sidebar .location .drop_list > div > a {
        display: block;
        width: 100%;
        box-sizing: border-box;
        padding: 10px 0 10px 15px;
        color: rgba(53, 59, 66, 0.2); }
        .left_sidebar .location .drop_list > div > a:hover, .left_sidebar .location .drop_list > div > a.action {
          color: rgba(53, 59, 66, 0.5); }
  .left_sidebar .profile {
    margin-top: 25px; }
    .left_sidebar .profile a {
      display: flex;
      align-items: center; }
    .left_sidebar .profile .profile_image {
      display: inline-block;
      height: 25px;
      width: 25px;
      border-radius: 15px; }
    .left_sidebar .profile .profile_name {
      font-family: "Roboto Md";
      font-size: 14px;
      color: rgba(53, 59, 66, 0.5);
      margin-left: 10px; }
  .left_sidebar .menu {
    margin-top: 40px;
    padding: 0 30px 0 0; }
    .left_sidebar .menu .menu_item {
      height: 40px;
      font-size: 16px;
      display: block;
      font-family: "Roboto Lt";
      line-height: 40px;
      padding-left: 30px;
      position: relative;
      color: rgba(1, 54, 107, 0.75);
      transition: color 0.2s ease-out; }
      .left_sidebar .menu .menu_item::before {
        content: '';
        display: inline-block;
        background-color: #349aff;
        height: 40px;
        width: 0px;
        vertical-align: middle;
        position: absolute;
        top: 0;
        left: 0;
        transition: width 0.2s ease-out; }
      .left_sidebar .menu .menu_item.action, .left_sidebar .menu .menu_item:hover {
        color: #01366b; }
        .left_sidebar .menu .menu_item.action::before, .left_sidebar .menu .menu_item:hover::before {
          width: 4px; }
      .left_sidebar .menu .menu_item.action {
        font-family: "Roboto Md"; }
  .left_sidebar .search {
    width: 100%;
    display: flex;
    align-items: center;
    height: 30px; }
    .left_sidebar .search .search_icon {
      width: 30px; }
    .left_sidebar .search .search_input {
      width: 230px;
      box-sizing: border-box;
      padding-left: 10px; }
      .left_sidebar .search .search_input input {
        width: 100%;
        border: none;
        color: rgba(1, 54, 107, 0.75); }
  .left_sidebar .social {
    margin-top: 30px; }
    .left_sidebar .social .social_title {
      color: rgba(0, 14, 28, 0.35);
      font-size: 14px;
      font-family: "Roboto Lt";
      margin-bottom: 10px; }
    .left_sidebar .social .social_list a {
      margin-right: 5px;
      margin-bottom: 5px;
      display: inline-block;
      transform: scale(1);
      transition: all 0.2s ease-out; }
      .left_sidebar .social .social_list a:hover {
        transform: scale(1.2); }

.bg_for_menu {
  position: absolute;
  width: 0;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  z-index: 98;
  opacity: 0;
  transition: opacity 0.3s ease-out; }
  .bg_for_menu.show {
    width: 100%;
    opacity: 1; }

.main_content {
  max-width: 1705px;
  box-sizing: border-box;
  padding: 60px 30px 60px 120px; }
  @media (max-width: 1919px) {
    .main_content {
      padding-left: 60px; } }
  @media (max-width: 1279px) {
    .main_content {
      padding: 60px 30px;
      max-width: 800px; } }
  @media (max-width: 767px) {
    .main_content {
      padding: 15px;
      max-width: 320px;
      flex-direction: column; } }

.section_title {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 30px; }
  .section_title span {
    font-family: "Roboto Bk";
    font-size: 36px;
    color: #000e1c; }
    @media (max-width: 1279px) {
      .section_title span {
        font-size: 30px; } }
    @media (max-width: 767px) {
      .section_title span {
        font-size: 24px;
        line-height: 26px; } }
  .section_title a {
    font-family: Roboto;
    font-size: 16px;
    color: #1c7ee1;
    text-decoration: underline; }
    .section_title a:hover {
      text-decoration: none; }

.hot_news {
  margin-right: 50px;
  width: 1165px;
  float: left; }
  @media (max-width: 1919px) {
    .hot_news {
      width: 960px;
      margin-right: 30px; } }
  @media (max-width: 1599px) {
    .hot_news {
      width: 630px; } }
  @media (max-width: 1279px) {
    .hot_news {
      width: 426px; } }
  @media (max-width: 767px) {
    .hot_news {
      width: 100% !important;
      margin-bottom: 30px; } }
  .hot_news .hot_news_list::after {
    display: block;
    content: '';
    float: none;
    clear: both; }
  .hot_news .hot_news_list .hot_news_item {
    display: inline-block;
    float: left;
    width: 355px;
    margin-bottom: 30px; }
    @media (max-width: 1919px) {
      .hot_news .hot_news_list .hot_news_item {
        width: 300px; } }
    @media (max-width: 1279px) {
      .hot_news .hot_news_list .hot_news_item {
        width: 198px; } }
    @media (max-width: 767px) {
      .hot_news .hot_news_list .hot_news_item {
        width: 100% !important;
        margin: 0 0 30px 0 !important; } }
    .hot_news .hot_news_list .hot_news_item .hot_item_images {
      width: 100%;
      height: 210px;
      display: inline-block;
      background-size: cover;
      background-position: 50%;
      position: relative;
      margin-bottom: 10px; }
      @media (max-width: 1919px) {
        .hot_news .hot_news_list .hot_news_item .hot_item_images {
          height: 180px; } }
      @media (max-width: 1279px) {
        .hot_news .hot_news_list .hot_news_item .hot_item_images {
          height: 136px; } }
      @media (max-width: 767px) {
        .hot_news .hot_news_list .hot_news_item .hot_item_images {
          height: 200px !important; } }
      .hot_news .hot_news_list .hot_news_item .hot_item_images p {
        display: flex;
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        padding: 30px;
        position: absolute;
        top: 0;
        left: 0;
        transition: opacity 0.3s ease-out;
        color: white; }
        @media (max-width: 1279px) {
          .hot_news .hot_news_list .hot_news_item .hot_item_images p {
            padding: 15px; } }
      .hot_news .hot_news_list .hot_news_item .hot_item_images .hot_item_sub_info {
        opacity: 0;
        z-index: 1;
        background-color: rgba(1, 54, 107, 0.75);
        flex-direction: column;
        justify-content: space-between; }
        .hot_news .hot_news_list .hot_news_item .hot_item_images .hot_item_sub_info .preview {
          font-family: "Roboto Lt";
          font-size: 14px;
          line-height: 17px;
          height: 100px;
          overflow: hidden;
          text-overflow: ellipsis; }
        .hot_news .hot_news_list .hot_news_item .hot_item_images .hot_item_sub_info .sublink {
          font-family: Roboto;
          font-size: 16px; }
          .hot_news .hot_news_list .hot_news_item .hot_item_images .hot_item_sub_info .sublink::after {
            content: '';
            display: inline-block;
            width: 6px;
            height: 6px;
            margin-left: 7px;
            border: 2px solid white;
            border-bottom: none;
            border-left: none;
            transform: rotateZ(45deg); }
        @media (max-width: 1279px) {
          .hot_news .hot_news_list .hot_news_item .hot_item_images .hot_item_sub_info {
            display: none; } }
      .hot_news .hot_news_list .hot_news_item .hot_item_images .hot_item_sub_region {
        opacity: 1;
        z-index: 0;
        align-items: flex-end; }
        .hot_news .hot_news_list .hot_news_item .hot_item_images .hot_item_sub_region span {
          font-family: Roboto;
          font-size: 14px; }
    .hot_news .hot_news_list .hot_news_item:hover .hot_item_sub_info {
      opacity: 1; }
    .hot_news .hot_news_list .hot_news_item:hover .hot_item_sub_region {
      opacity: 0; }
    .hot_news .hot_news_list .hot_news_item .hot_item_title {
      display: inline-block;
      font-size: 16px;
      line-height: 18px;
      color: #000e1c;
      font-family: Roboto;
      margin-bottom: 10px; }
    .hot_news .hot_news_list .hot_news_item .hot_item_other_info {
      display: flex;
      justify-content: space-between; }
      @media (max-width: 1279px) {
        .hot_news .hot_news_list .hot_news_item .hot_item_other_info {
          flex-direction: column-reverse; } }
      .hot_news .hot_news_list .hot_news_item .hot_item_other_info > div {
        font-size: 14px;
        font-family: Roboto; }
      .hot_news .hot_news_list .hot_news_item .hot_item_other_info .hot_item_date {
        color: #c4c4c4;
        width: 160px; }
      .hot_news .hot_news_list .hot_news_item .hot_item_other_info .hot_item_section {
        color: #afcfef;
        text-align: end;
        max-width: 140px; }
        @media (max-width: 1279px) {
          .hot_news .hot_news_list .hot_news_item .hot_item_other_info .hot_item_section {
            text-align: start;
            max-width: 100%;
            margin-bottom: 10px; } }
        .hot_news .hot_news_list .hot_news_item .hot_item_other_info .hot_item_section a {
          color: #afcfef;
          transition: color 0.2s ease-out; }
          .hot_news .hot_news_list .hot_news_item .hot_item_other_info .hot_item_section a:hover {
            color: #4ca5e1; }
    .hot_news .hot_news_list .hot_news_item:nth-child(5), .hot_news .hot_news_list .hot_news_item:nth-child(6) {
      margin-left: 50px; }
      @media (max-width: 1919px) {
        .hot_news .hot_news_list .hot_news_item:nth-child(5), .hot_news .hot_news_list .hot_news_item:nth-child(6) {
          margin-left: 30px; } }
    .hot_news .hot_news_list .hot_news_item:nth-child(4) {
      clear: left; }
    .hot_news .hot_news_list .hot_news_item:first-child {
      width: 760px;
      margin-right: 50px; }
      @media (max-width: 1919px) {
        .hot_news .hot_news_list .hot_news_item:first-child {
          width: 630px;
          margin-right: 30px; } }
      @media (max-width: 1279px) {
        .hot_news .hot_news_list .hot_news_item:first-child {
          width: 100%; } }
      .hot_news .hot_news_list .hot_news_item:first-child .hot_item_images {
        height: 525px; }
        @media (max-width: 1919px) {
          .hot_news .hot_news_list .hot_news_item:first-child .hot_item_images {
            height: 435px; } }
        @media (max-width: 1279px) {
          .hot_news .hot_news_list .hot_news_item:first-child .hot_item_images {
            height: 300px; } }
      .hot_news .hot_news_list .hot_news_item:first-child .hot_item_title {
        font-family: "Roboto Md";
        font-size: 24px;
        line-height: 26px;
        margin-bottom: 15px; }
        @media (max-width: 1279px) {
          .hot_news .hot_news_list .hot_news_item:first-child .hot_item_title {
            font-size: 20px;
            line-height: 22px; } }
      .hot_news .hot_news_list .hot_news_item:first-child .hot_item_section {
        max-width: 300px; }
    @media (max-width: 1599px) {
      .hot_news .hot_news_list .hot_news_item {
        margin: 0 0 30px 30px;
        float: left; }
        .hot_news .hot_news_list .hot_news_item:nth-child(2), .hot_news .hot_news_list .hot_news_item:nth-child(4) {
          clear: left;
          margin-left: 0; }
        .hot_news .hot_news_list .hot_news_item:first-child {
          margin: 0 0 30px 0; }
        .hot_news .hot_news_list .hot_news_item:last-child {
          display: none; } }

.last_news {
  display: flex;
  flex-direction: column;
  background-color: #f2f8ff;
  overflow: hidden;
  border-radius: 25px; }
  @media (max-width: 767px) {
    .last_news {
      width: 100%; } }
  .last_news .last_news_title {
    background-color: #e3f0fd;
    color: rgba(0, 14, 28, 0.35);
    font-size: 20px;
    line-height: 22px;
    font-family: "Roboto Md";
    padding: 30px; }
  .last_news .last_news_list .last_news_item {
    background-color: rgba(255, 255, 255, 0);
    transition: all 0.2s ease-out;
    padding: 30px;
    position: relative;
    display: block; }
    .last_news .last_news_list .last_news_item:hover {
      background-color: rgba(1, 54, 107, 0.75); }
      .last_news .last_news_list .last_news_item:hover .last_news_item_title,
      .last_news .last_news_list .last_news_item:hover .last_news_item_date {
        color: white; }
      .last_news .last_news_list .last_news_item:hover a {
        opacity: 1;
        height: 14px; }
      .last_news .last_news_list .last_news_item:hover::after {
        opacity: 0; }
    .last_news .last_news_list .last_news_item .last_news_item_title {
      color: rgba(0, 14, 28, 0.5);
      font-family: Roboto;
      font-size: 16px;
      line-height: 18px; }
    .last_news .last_news_list .last_news_item .last_news_item_date {
      color: #ced9e4;
      font-family: Roboto;
      font-size: 14px;
      text-align: right;
      float: right;
      padding-top: 2px; }
    .last_news .last_news_list .last_news_item::after {
      content: '';
      display: block;
      width: 100%;
      height: 2px;
      background-color: #e3f0fd;
      position: absolute;
      bottom: 0; }
    .last_news .last_news_list .last_news_item:last-child::after {
      display: none; }
    @media (max-width: 1279px) {
      .last_news .last_news_list .last_news_item a,
      .last_news .last_news_list .last_news_item .last_news_item_title {
        font-size: 14px;
        line-height: 16px; }
      .last_news .last_news_list .last_news_item .last_news_item_date {
        font-size: 12px;
        line-height: 16px; } }

.personal {
  margin-top: 50px;
  clear: left; }
  .personal .personal_box {
    position: relative;
    height: 350px;
    overflow: hidden; }
    @media (max-width: 1599px) {
      .personal .personal_box {
        height: 300px; } }
    @media (max-width: 1279px) {
      .personal .personal_box {
        height: 200px; } }
    @media (max-width: 767px) {
      .personal .personal_box {
        height: 180px;
        position: relative;
        overflow: scroll; } }
    .personal .personal_box .personal_background {
      display: block;
      position: absolute;
      z-index: 0;
      height: 100%;
      text-align: center;
      width: 100%; }
      .personal .personal_box .personal_background > div {
        display: block;
        color: rgba(232, 232, 232, 0.35);
        font-size: 190px;
        font-family: "Roboto Bk";
        letter-spacing: 10pt;
        text-align: center; }
        @media (max-width: 1919px) {
          .personal .personal_box .personal_background > div {
            font-size: 180px; } }
        @media (max-width: 1599px) {
          .personal .personal_box .personal_background > div {
            font-size: 130px; } }
        @media (max-width: 1279px) {
          .personal .personal_box .personal_background > div {
            font-size: 100px; } }
        @media (max-width: 767px) {
          .personal .personal_box .personal_background > div {
            font-size: 43px; } }
    .personal .personal_box .personal_list {
      position: absolute;
      z-index: 1;
      height: 100%;
      display: flex;
      justify-content: space-around;
      width: 100%;
      align-items: flex-end; }
      @media (max-width: 767px) {
        .personal .personal_box .personal_list {
          width: 700px;
          position: relative; } }
      .personal .personal_box .personal_list .personal_item {
        display: block;
        position: relative;
        width: 365px;
        height: 308px;
        overflow: hidden; }
        @media (max-width: 1599px) {
          .personal .personal_box .personal_list .personal_item {
            width: 273px;
            height: 241px; } }
        @media (max-width: 1279px) {
          .personal .personal_box .personal_list .personal_item {
            width: 212px;
            height: 190px; } }
        @media (max-width: 1279px) {
          .personal .personal_box .personal_list .personal_item {
            width: 212px;
            height: 190px; } }
        .personal .personal_box .personal_list .personal_item .personal_item_subscribe,
        .personal .personal_box .personal_list .personal_item .personal_item_background {
          display: block;
          position: absolute;
          bottom: -1px;
          width: 100%;
          height: 183px;
          box-sizing: border-box;
          transition: all 0.2s ease-out; }
          @media (max-width: 1599px) {
            .personal .personal_box .personal_list .personal_item .personal_item_subscribe,
            .personal .personal_box .personal_list .personal_item .personal_item_background {
              height: 163px; } }
          @media (max-width: 1279px) {
            .personal .personal_box .personal_list .personal_item .personal_item_subscribe,
            .personal .personal_box .personal_list .personal_item .personal_item_background {
              height: 129px; } }
        .personal .personal_box .personal_list .personal_item .personal_item_background {
          z-index: 0;
          background-color: #ececec; }
        .personal .personal_box .personal_list .personal_item .personal_item_person {
          display: block;
          position: absolute;
          z-index: 1;
          width: 100%;
          height: 100%;
          text-align: right; }
          .personal .personal_box .personal_list .personal_item .personal_item_person img {
            position: relative;
            right: -20px;
            bottom: -20px;
            height: 100%; }
        .personal .personal_box .personal_list .personal_item .personal_item_subscribe {
          display: block;
          z-index: 2;
          background: linear-gradient(202.96deg, rgba(255, 255, 255, 0) 26.73%, rgba(255, 255, 255, 0.75) 85.98%);
          padding: 50px 30px 0 30px; }
          @media (max-width: 1599px) {
            .personal .personal_box .personal_list .personal_item .personal_item_subscribe {
              padding: 40px 15px 0 15px; } }
          @media (max-width: 1279px) {
            .personal .personal_box .personal_list .personal_item .personal_item_subscribe {
              padding-top: 20px; } }
          .personal .personal_box .personal_list .personal_item .personal_item_subscribe .personal_item_name {
            display: block;
            font-family: "Roboto Md";
            color: #000e1c;
            font-size: 26px;
            line-height: 28px;
            word-spacing: 180px;
            padding-bottom: 10px; }
            @media (max-width: 1599px) {
              .personal .personal_box .personal_list .personal_item .personal_item_subscribe .personal_item_name {
                font-size: 24px;
                line-height: 26px; } }
            @media (max-width: 1279px) {
              .personal .personal_box .personal_list .personal_item .personal_item_subscribe .personal_item_name {
                font-size: 18px;
                line-height: 20px; } }
          .personal .personal_box .personal_list .personal_item .personal_item_subscribe .personal_item_position {
            display: block;
            font-size: 16px;
            line-height: 18px;
            color: #000e1c;
            font-family: Roboto; }
            @media (max-width: 1599px) {
              .personal .personal_box .personal_list .personal_item .personal_item_subscribe .personal_item_position {
                font-size: 14px;
                line-height: 16px; } }
            @media (max-width: 1279px) {
              .personal .personal_box .personal_list .personal_item .personal_item_subscribe .personal_item_position {
                font-size: 12px;
                line-height: 14px; } }
          .personal .personal_box .personal_list .personal_item .personal_item_subscribe .personal_item_link {
            display: block;
            color: #01366b;
            font-family: "Roboto Md";
            font-size: 16px;
            padding-top: 10px;
            overflow: hidden;
            height: 0px;
            box-sizing: border-box;
            transition: all 0.2s ease-out; }
            .personal .personal_box .personal_list .personal_item .personal_item_subscribe .personal_item_link::after {
              content: '';
              display: inline-block;
              width: 6px;
              height: 6px;
              margin-left: 7px;
              border: 2px solid #01366b;
              border-bottom: none;
              border-left: none;
              transform: rotateZ(45deg); }
        .personal .personal_box .personal_list .personal_item:hover .personal_item_subscribe,
        .personal .personal_box .personal_list .personal_item:hover .personal_item_background {
          height: 219px; }
          @media (max-width: 1599px) {
            .personal .personal_box .personal_list .personal_item:hover .personal_item_subscribe,
            .personal .personal_box .personal_list .personal_item:hover .personal_item_background {
              height: 199px; } }
          @media (max-width: 1279px) {
            .personal .personal_box .personal_list .personal_item:hover .personal_item_subscribe,
            .personal .personal_box .personal_list .personal_item:hover .personal_item_background {
              height: 149px; } }
        .personal .personal_box .personal_list .personal_item:hover .personal_item_subscribe .personal_item_link {
          height: 36px; }

.video_section {
  margin-top: 50px; }
  .video_section .video_box {
    display: flex;
    justify-content: space-around; }
    @media (max-width: 767px) {
      .video_section .video_box {
        flex-direction: column; } }
    .video_section .video_box .video_item {
      display: block;
      width: 690px;
      height: 460px;
      background-position: 50%;
      background-size: cover;
      overflow: hidden;
      border-radius: 10px;
      position: relative;
      cursor: pointer; }
      @media (max-width: 1919px) {
        .video_section .video_box .video_item {
          width: 630px;
          height: 420px; } }
      @media (max-width: 1599px) {
        .video_section .video_box .video_item {
          width: 463px;
          height: 310px; } }
      @media (max-width: 1279px) {
        .video_section .video_box .video_item {
          width: 335px;
          height: 225px; } }
      @media (max-width: 767px) {
        .video_section .video_box .video_item {
          width: 100%;
          height: 195px;
          margin-bottom: 20px; } }
      .video_section .video_box .video_item .video_play_button {
        transition: all 0.2s ease-out;
        position: absolute;
        right: 30px;
        top: 30px; }
      .video_section .video_box .video_item .video_item_bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0);
        transition: all 0.2s ease-out; }
      .video_section .video_box .video_item:hover .video_item_bg {
        background-color: rgba(0, 0, 0, 0.5); }
      .video_section .video_box .video_item:hover .video_play_button {
        width: 80px;
        height: 80px;
        top: calc(50% - 40px);
        right: calc(50% - 40px); }
      .video_section .video_box .video_item .video_info {
        position: absolute;
        bottom: 0;
        width: 100%;
        background: linear-gradient(180deg, rgba(0, 14, 28, 0) 0.9%, rgba(0, 14, 28, 0.68) 84.25%);
        box-sizing: border-box;
        padding: 50px 30px;
        line-height: 26px; }
        .video_section .video_box .video_item .video_info .video_subscribe {
          font-family: "Roboto Md";
          font-size: 24px;
          color: white; }
          @media (max-width: 1599px) {
            .video_section .video_box .video_item .video_info .video_subscribe {
              font-size: 20px;
              line-height: 22px; } }
        .video_section .video_box .video_item .video_info .video_date {
          text-align: right;
          font-family: Roboto;
          font-size: 16px;
          color: white;
          float: right; }
        @media (max-width: 1599px) {
          .video_section .video_box .video_item .video_info {
            padding: 30px 15px;
            line-height: normal; } }
        @media (max-width: 1279px) {
          .video_section .video_box .video_item .video_info {
            padding: 15px; }
            .video_section .video_box .video_item .video_info .video_subscribe,
            .video_section .video_box .video_item .video_info .video_date {
              font-size: 14px;
              line-height: 16px; } }

.footer {
  background-color: whitesmoke;
  box-sizing: border-box;
  padding: 60px 30px 30px 120px;
  display: flex;
  justify-content: space-between;
  color: #b2c0ce;
  font-family: "Roboto Lt";
  font-size: 14px;
  line-height: 16px; }
  @media (max-width: 1919px) {
    .footer {
      padding-left: 60px; } }
  @media (max-width: 1599px) {
    .footer {
      font-size: 12px;
      line-height: 14px;
      padding-top: 30px; } }
  @media (max-width: 1279px) {
    .footer {
      flex-wrap: wrap;
      flex-direction: column-reverse;
      position: relative; }
      .footer > div {
        width: 100%; } }
  @media (max-width: 767px) {
    .footer {
      padding: 15px; } }
  .footer .footer_contacts {
    width: 250px; }
    .footer .footer_contacts > div {
      margin-bottom: 13px; }
      .footer .footer_contacts > div > span {
        color: #b2c0ce;
        font-family: "Roboto Md"; }
  .footer .footer_menu {
    text-align: center;
    padding-top: 10px; }
    .footer .footer_menu > div:first-child > a {
      margin: 0 20px;
      font-family: "Roboto Md";
      font-size: 16px;
      color: #b2c0ce; }
      @media (max-width: 1599px) {
        .footer .footer_menu > div:first-child > a {
          font-size: 14px;
          line-height: 16px; } }
      .footer .footer_menu > div:first-child > a:hover {
        text-decoration: underline; }
    .footer .footer_menu > div:last-child {
      margin-top: 20px; }
      .footer .footer_menu > div:last-child span {
        font-family: "Roboto Md"; }
    @media (max-width: 1279px) {
      .footer .footer_menu {
        position: absolute;
        top: 0;
        right: 0;
        width: 30%;
        height: 100%;
        padding: 30px 30px 0 0; }
        .footer .footer_menu > div:first-child {
          display: flex;
          flex-direction: column; }
          .footer .footer_menu > div:first-child > a {
            text-align: right;
            margin-bottom: 20px;
            margin-right: 0; }
        .footer .footer_menu > div:last-child {
          text-align: right;
          font-size: 14px; } }
    @media (max-width: 767px) {
      .footer .footer_menu {
        order: 1;
        position: relative;
        width: 100%;
        padding: 0;
        margin-bottom: 20px; }
        .footer .footer_menu > div {
          text-align: left !important;
          margin-top: 0 !important; }
          .footer .footer_menu > div a {
            text-align: left !important;
            margin: 0 0 15px 0 !important; } }
  .footer .footer_info {
    width: 250px; }
    @media (max-width: 1279px) {
      .footer .footer_info {
        margin-bottom: 15px; } }

/*# sourceMappingURL=style.css.map */
